body {
  background-color: #0e1111;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-heading {
  color: #f7efd2;
}

.tank-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tank-box {
  display: flex;
  flex-direction: column;
}

.tank {
  height: 200px;
  width: 150px;
  margin: 20px;
  border-left: 5px solid #f7efd2;
  border-right: 5px solid #f7efd2;
  border-bottom: 5px solid #f7efd2;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: background 1s linear;
}